.clients-box {
  background-color: transparent;
  border-radius: 12px;
  padding: 0;
  margin: 0;
}

.client-item {
  background-color: transparent;
  border-radius: 8px;
  padding: 0px 10px;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  font-size: 13px;
  margin: 0 2px;


  &:hover {
    background-color: rgba($primary, 0.18);
  }

  /* Style for the active/focused window */
  &.focused {
    background-color: rgba($primary, 0.28);
    border-color: rgba($primary, 0.6);

    .client-title {
      color: $fg;
      font-weight: bold;
    }
  }
}

.client-title {
  color: $fg;
  font-size: 0.85em;
}
