.capslock-box {
    padding: 2px 7px;
    border-radius: 6px;
    background-color: rgba($error, 0.25);
    border: 1px solid $error;

    .capslock-icon {
      font-size: 13px;
      color: $error;
    }

    .capslock-text {
      font-size: 10px;
      font-weight: 800;
      letter-spacing: 0.5px;
      color: $error;
    }
  }
